---
import Layout from '../layouts/Layout.astro';
import Form from '../components/Form';
---

<Layout title="Local Google Fonts">
	<main class="bg-sky-100 min-h-screen py-12">
		<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
			<div class="lg:text-center">
				<h1 class="font-extrabold text-5xl leading-loose">
					<span class="bg-clip-text text-transparent bg-gradient-to-r from-cyan-500 to-sky-500">Local Google Fonts</span>
				</h1>
			</div>
			<div class="py-6">
				<Form client:visible />
			</div>
		</div>
	</main>
</Layout>

<style>
</style>
