---
export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;

import './src/styles/global.css';
---

<!DOCTYPE html>
<html lang="en" class="group/layout">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
		<script>
			if ( window.location.search.includes( 'embed' ) ) {
				document.documentElement.classList.add( 'is-embed' );
			}
		</script>
	</head>
	<body class="bg-sky-100">
		<slot />
	</body>
	<script src="https://required.com/content/plugins/iframe-resizer-for-html-block/assets/dist/iframe-resizer-child.js?ver=0c7b7e5d83be067dc884" async></script>
</html>
